 <link rel="stylesheet" href="/css/dulces.css">
  <div class="container0">
    <div class="col-md-6">
      <img src="/images/img-dulce/caramelos.jpeg" alt="">
    </div>

    <div class="col-md-6">
      <form class="form-padding" action="/dulces/dulces" method="POST">
        <div id="logo"></div>
        <div class="title">Dulces</div>
        <div class="input">

          <div id="inputBox">
            <label>Nombre Dulce</label>
            <input type="text" class="form-control" name="nombre_dulce" placeholder="Nombre Dulce" />
          </div>
          <div id="inputBox">
            <label>Descripcion</label>
            <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" />
          </div>
          <div id="inputBox">
            <label>Precio</label>
            <input type="text" name="precio" class="form-control" placeholder="Precio" />
          </div>
           <div>
            <input type="submit" value="Guardar">
          </div>
        </div>
      </form>
  </div>
  </div>