<div id="title">Dulces</div>
<div class="container0">
  <div class="col-md-12" style="margin-bottom: 5px; ">
    <img src="/images/img-dulce/caramelos.jpeg" alt="">
  </div>
</div>
</div>

<link rel="stylesheet" href="/css/dulces.css" />
<form action="/dulces/dulces" method="POST">
  <div id="logo"></div>
  <div id="title"></div>
  <div id="sub-title"></div>
  <div id="input">

    <div id="inputBox">
      <label>Nombre Dulce</label>
      <input type="text" class="form-control" name="nombre_dulce" placeholder="Nombre Dulce" />
    </div>
    <div id="inputBox">
      <label>Descripcion</label>
      <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" />
    </div>
    <div id="inputBox">
      <label>Precio</label>
      <input type="text" name="precio" class="form-control" placeholder="Precio" />
    </div>

    <div id="inputBox">
      <input type="submit" value="Guardar" />
    </div>
  </div>
  </div>
</form>