<link rel="stylesheet" href="/css/bebidas.css">
  <div id="container0">
    <div class="col-md-6">
      <img src="/images/img-bebida/limonadaazul1.jpeg" alt="">
    </div>

    <div class="col-md-6">
      <form id="form-padding" action="/bebidas/bebidas" method="POST">
        <div id="logo"></div>
        <div id="title">Bebidas</div>
        <div id="input">
          <div class="inputBox">
            <label>Nombre Bebida</label>
            <input type="text" class="form-control" name="nombre_bebida" placeholder="Nombre Bebidas">
          </div>
          <div class="inputBox">
            <label>Descripcion</label>
            <input type="text" name="descripcion" class="form-control" placeholder="Descripcion">
          </div>
          <div class="inputBox">
            <label>Precio</label>
            <input type="text" name="precio" class="form-control" placeholder="Precio">
          </div>
          <div class="saveSubmit">
            <input type="submit" value="Guardar">
          </div>
        </div>
      </form>
    </div>
  </div>