
  <div id="title">porciones</div>
  <div class="container0">
    <div class="col-md-12" style="margin-bottom: 5px; ">
      <img src="/images/img-porcion/PORCION.jpg" alt="">
    </div>
  </div>
  </div>

  <link rel="stylesheet" href="/css/porciones.css" />

  <form action="/porciones/porciones" method="POST">
    <div id="logo"></div>
    <div id="title"></div>
    <div id="sub-title"></div>
    <div id="input">


      <div id="inputBox">
        <label>Nombre Porcion</label>
        <input type="text" class="form-control" name="nombre_porcion" placeholder="Nombre Porcion">
      </div>
      <div id="inputBox">
        <label>Descripcion</label>
        <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" />
      </div>
      <div id="inputBox">
        <label>Precio</label>
        <input type="text" name="precio" class="form-control" placeholder="Precio" />
      </div>
      <div id="inputBox">
        <input type="submit" value="Guardar" />
      </div>
    </div>
  </form>