<div id="title">Platillos</div>
<div id="container0">
  <div class="col-md-12" style="margin-bottom: 5px; ">
    <img src="/images/img-platillo/platillo.jpg" alt="">
  </div>
</div>
</div>

<link rel="stylesheet" href="/css/platillos.css" />
 <form action="/platillos/platillos" method="POST">
  <div id="logo"></div>
  <div id="title"></div>
  <div id="sub-title"></div>
  <div id="input">


    <div id="inputBox">
      <label>Nombre Patillo</label>
      <input
        type="text"
        class="form-control"
        name="nombre_platillo"
        placeholder="Nombre Platillo"
      />
    </div>
    <div id="inputBox">
      <label>Descripcion</label>
      <input
        type="text"
        name="descripcion"
        class="form-control"
        placeholder="Descripcion"
      />
    </div>
    <div id="inputBox">
      <label>Precio</label>
      <input
        type="text"
        name="precio"
        class="form-control"
        placeholder="Precio"
      />
    </div>
      <div id="inputBox">
      <label>Nombre del Dueño</label>
      <input
        type="text"
        name="dueno"
        class="form-control"
        placeholder="Nombre del Dueño"
      />
    </div>
    <div id="inputBox">
      <input type="submit" value="Guardar" />
    </div>
  </div>
</form>