body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

.container0 {
  display: flex;
  background-color: #f2ca3b;
  padding: 20px;
  box-sizing: border-box;
}

.col-md-6 {
  flex: 1;
  padding: 10px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
}

#inputBox {
  margin: 10px 0;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  padding: 8px;
  border: 1px solid #b63636;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #29deeb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #c029c5;
}

.container0 .col-md-6 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .container0 {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%;
  }

  .input {
    margin-top: 20px;
  }

  .title {
    margin-top: 0;
  }

  .form-padding {
    padding-bottom: 130px;
  }
}

@media (min-width: 751px) and (max-width: 1050px) {
  .container0 {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%;
  }

  .input {
    margin-top: 20px;
  }

  .title {
    margin-top: 0;
  }

  .form-padding {
    padding-bottom: 130px;
  }

  .form-padding {
    padding-left: 50px;
  }
}