body {
  font-family: 'Poppins', sans-serif;
  margin: 10%;
  padding: 0;
  background-color: #ececec;
  margin-top: 5px;


}
#ontainer0{
  background-color: #6ccc1e;


}

.container img {
  width: 120%;

}




#title {
  font-size: 36px;
  font-weight: 10%;
  margin-top: 20px;


  
}

#sub-title {
  font-size: 36px;
  color: #ffffff;
  position: relative;
  left: 40%;
}

#input {
  margin-top: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 10px;
  width:150% ; 
 }
#inputBox {
  margin: 10px 0;
  width: 300px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #b63636;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #29deeb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  left: 25%;
  margin-top: -35%;
}

input[type="submit"]:hover {
  background-color: #c029c5;
}

/*responsibe*/
@media (max-width: 758px) {
  #title {
    font-size: 15px;
    margin-top: -1%;
  }

  #sub-title {
    font-size: 11px;
  }

  #input {
    margin-top: 20px;
    /* Ajuste para dispositivos muy pequeños */
  }

  #container0 {
    background-color: #5a5754;
    padding: 20px;
  }

  #container0 img {
    width: 100%;
    /* Ajustar la imagen al ancho del contenedor */
    max-width: 100%;
    height: auto;
  }

  #title {
    font-size: 14px;
    /* Tamaño reducido para dispositivos pequeños */
    font-weight: bold;
    margin-top: -20px;
  }

 

  #inputBox {
    margin-top: -5px;
    font-size: 13px;
    margin-left: -36%;
    /* Ancho máximo para adaptarse a pantallas pequeñas */
  }


}