<div id="title">Menus</div>
<div id="container0">
  <div class="col-md-12" style="margin-bottom: 5px; ">
    <img src="/images/img-menu/menuh.jpeg" alt="">
  </div>
</div>
</div>

<link rel="stylesheet" href="/css/Menus.css" />

<form action="/menus/menus" method="POST">

  <div id="logo"></div>
  <div id="title"></div>
  <div id="sub-title"></div>
  <div id="input">


    <div id="inputBox">
      <label>Nombre Menu</label>
      <input
        type="text"
        class="form-control"
        name="nombre_menu"
        placeholder="Nombre Menu"
      />
    </div>
    <div id="inputBox">
      <label>Descripcion</label>
      <input
        type="text"
        name="descripcion"
        class="form-control"
        placeholder="Descripcion"
      />
    </div>
    <div id="inputBox">
      <label>Precio</label>
      <input
        type="text"
        name="precio"
        class="form-control"
        placeholder="Precio"
      />
    </div>

    <div id="inputBox">
      <input type="submit" value="Guardar" />

    </div>
  </div>
</form>