<link rel="stylesheet" href="/css/Menus.css" />
  <div class="container0">
    <div class="col-md-6">
        <img src="/images/img-menu/menuh.jpeg" alt="">
    </div>

    <div class="col-md-6">
      <form class="form-padding" action="/menus/menus" method="POST">
        <div id="logo"></div>
        <div class="title">categorias</div>
        <div class="input">

    <div id="inputBox">
      <label>Nombre Menu</label>
      <input
        type="text"
        class="form-control"
        name="nombre_menu"
        placeholder="Nombre Menu"
      />
    </div>
    <div id="inputBox">
      <label>Descripcion</label>
      <input
        type="text"
        name="descripcion"
        class="form-control"
        placeholder="Descripcion"
      />
    </div>
    <div id="inputBox">
      <label>Precio</label>
      <input
        type="text"
        name="precio"
        class="form-control"
        placeholder="Precio"
      />
    </div>
      <div>
            <input type="submit" value="Guardar">
          </div>
        </div>
  </div>
  </div>