
               <div id="title">Categorias</div>
            <div class="container0" >
  <div class="col-md-12" style="margin-bottom: 5px; ">
               <img src="/images/img-categoria/categoria.jpg" alt="">
        </div>
        </div>
    </div>
    
<link rel="stylesheet" href="/css/categotia.css" />

   <form action="/categorias/categorias" method="POST">
  <div id="logo"></div>
  <div id="title"></div>
  <div id="sub-title"></div>
  <div id="input">
   <div id="inputBox">
      <label>Nombre categoria</label>
      <input
        type="text"
        class="form-control"
        name="nombre_Categoria"
        placeholder="nombre categoria"
      />

    </div>
    <div id="inputBox">
      <label>Descripcion</label>
      <input
        type="text"
        name="descripcion"
        class="form-control"
        placeholder="descripcion"
      />
    </div>
    <div id="inputBox">
      <input type="submit" value="Guardar" />
    </div>
  </div>
</form>