  <link rel="stylesheet" href="/css/categotia.css">
  <div class="container0">
    <div class="col-md-6">
      <img src="/images/img-categoria/categoria.jpg" alt="">
    </div>

    <div class="col-md-6">
      <form class="form-padding" action="/categorias/categorias" method="POST">
        <div id="logo"></div>
        <div class="title">categorias</div>
        <div class="input">

          <div id="inputBox">
            <label>Nombre categoria</label>
            <input type="text" class="form-control" name="nombre_Categoria" placeholder="nombre categoria" />
          </div>
          <div id="inputBox">
            <label>Descripcion</label>
            <input type="text" name="descripcion" class="form-control" placeholder="descripcion" />
          </div>
          <div>
            <input type="submit" value="Guardar">
          </div>
        </div>
  </div>